
/* Default nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Make sure it's above other content */
    background-color: white;
    outline: 2px solid black;
    transition: transform 0.3s ease; /* Smooth transition for hide/show */
  }

  .homeIcon {
    color: black; 
    font-size: 30px;
  }
  
  nav div {
    display: flex;
    align-items: center;
  }
  
  .navList {
    display: flex;
    gap: 20px; 
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navList li {
    color: black;
  }
  
  .navList li a {
    color: black; 
    text-decoration: none;
    font-size: 20px;
  }
  
  .navList li a:hover {
    text-decoration: underline; /* Optional: Underline links when hovered */
  }
  
  /* Hidden navbar when scrolling down */
  nav.hidden {
    transform: translateY(-100%); /* Move the navbar out of view */
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 10px 5vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }
  
    .homeIcon {
      font-size: 20px;
      gap: 10px;
    }
  
    .navList {
      gap: 10px;
    }
  
    .navList li a {
      font-size: 16px;
    }
  }
  